

<html>
    <body>
        <form target="_blank" action="{{url_for('resultado')}}", method = "POST"> 
            <p>Insira o dominio do site para obter os dados: </p>
            <input type="text" name = "input_dominio">
            <input type="submit" onclick="" value = "Obter">

            
        </form>


        <form target="_blank" action="{{url_for('autoGet')}}" method="post">
            <input type="submit" name="obter_btn" value="Auto Get">
        </form>

    </body>

</html>


